$font: 'Inter', sans-serif;
$font-size: 16px;
$page-bg: #f0f4f7 url(../img/bg.jpg);
$primary: #5E81F4;
$secondary: #FFAE33;
$tertirary: #0CC3E7;
$left-bg: #fff;
$main-bg: #f5f5fb;
$right-bg: #fff;
$dark-bg: #567;
$text-color: #011F3B;